<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <%- include('partials/head') %>
  </head>
  <body class="poppins-regular bg-base">
    <%- include('partials/navbar') %>

    <main class="container">
      <h1 class="title">Minhas Práticas</h1>

      <section class="student-praticas">
        <% praticas.forEach(pratica => { %>
        <div class="student-card">
          <h2><%= pratica.title %></h2>
          <p><strong>Data:</strong> <%= pratica.data %></p>
          <p><strong>Status:</strong> <%= pratica.status %></p>
          <p><strong>Descrição:</strong> <%= pratica.description %></p>
          <p><strong>Arquivo:</strong> <%= pratica.file %></p>

          <p><strong>Componentes:</strong></p>
          <ul>
            <% pratica.components.forEach(comp => { %>
            <li><%= comp %></li>
            <% }) %>
          </ul>
        </div>
        <% }) %>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
